<redd-header type="narrow" title="oops!" tagline="Something went wrong."></redd-header>

<section class="pt-4">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="text-center">
                    We couldn't find the page you're looking for!
                    <br>
                    Why don't you have a look at these projects instead?
                </p>
            </div>
        </div>
    </div>
</section>

<redd-portfolio></redd-portfolio>