.navbar {
    padding: 0;
    
    .container {
        padding: 0;
    }

    .nav-link.project { font-size: .9rem; }
}

.navbar-brand {
    font-size: .85rem;
    color: var(--gray);
    display: block;
    padding: 1rem 1.25rem;
}

.sidebar-toggler {
    background: transparent;
    border: none;
    box-shadow: none;
    color: var(--gray);
    padding: 1rem 1.25rem;
}

.sidebar {
    background-color: var(--white);
    left: 0;
    height: 100%;
    position: fixed;
    top: 0;
    width: 100%;
    transform: translateX(100%);
    transition: transform .5s ease;

    &.show {
        transform: translateX(0%);
    }

    .sidebar-nav {
        a {
            color: var(--gray);
            display: block;
            font-size: 1.5rem;
            text-decoration: none;

            &.small {
                font-size: 1.15rem;
                margin-left: 1rem;
            }

            &.active {
                color: var(--accent);
            }
        }
    }
}