<nav class="navbar navbar-expand-md navbar-light">
    <div class="container">
        <a routerLink="/" class="navbar-brand text-uppercase fw-bold ms-1 ms-md-0">
            <span class="accent">Redd</span>Caruana
        </a>
        
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#website-navbar" aria-expanded="false">
            <fa-icon [icon]="faBars"></fa-icon>
        </button>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item ms-4" *ngFor="let item of navbar">
                    <a routerLinkActive="active" [routerLink]="item.url" class="nav-link pb-md-3 px-md-2">{{ item.name }}</a>
                </li>
            </ul>
        </div>
    </div>
</nav>