footer {
    font-family: var(--font-serif);
    font-size: .85rem;

    .socials {
        fa-icon {
            color: var(--gray);
            font-size: 1rem;
            transition: color .2s ease;

            &:hover {
                color: var(--accent);
            }
        }
    }
}

.navbar {
    .container {
        background-color: var(--white);
        background-color: rgba(var(--white-rgb), .85);
        border-bottom: 1px dotted rgba(var(--gray-rgb), .25);
    }

    .navbar-brand, .nav-link
    {
        border-bottom: .2rem solid transparent;
        font-family: var(--font-serif);
        text-transform: lowercase;
    }

    .navbar-brand {
        color: var(--gray);
        .accent {
            color: var(--accent);
        }
    }

    .nav-link {
        &.active {
            border-bottom-color: var(--accent);
        }
    }
}

.website-content {
    padding-top: 3.8rem;
    height: 100vh;
}