/* You can add global styles to this file, and also import other style files */

:root {
    --accent: #579dcf;
    --accent-rgb: 87, 157, 207;
    --gray: #696969;
    --gray-rgb: 105, 105, 105;
    --white: #ffffff;
    --white-rgb: 255, 255, 255;
    --off-white: #f7f7f7;

    --gutter-x: 2rem;

    --font-serif: 'Donegal One', Georgia, sans-serif;
    --font-sans-serif: 'Open Sans', Arial, Verdana, sans-serif; 
}

body {
    background: var(--off-white) url(/assets/background.png) repeat;
}

h1, h2, h3, h4, h5, h6 { font-family: var(--font-serif); }

section {
    border-bottom: 1px dotted rgba(var(--gray-rgb), .5);
    margin-left: calc(var(--gutter-x) * -1);
    margin-right: calc(var(--gutter-x) * -1);
    padding-left: var(--gutter-x);
    padding-right: var(--gutter-x);
}

.accent { color: var(--accent); }

.container {
    --bs-gutter-x: var(--gutter-x, 2rem);
    border-left: 1px solid rgba(var(--gray-rgb), .15);
    border-right: 1px solid rgba(var(--gray-rgb), .15);
}
.row { --bs-gutter-x: var(--gutter-x, 2rem); }
