.project-image {
    .image-inner {
        background-color: var(--accent-tint);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        padding-bottom: 56.25%;
    }
}